/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Variables */
:root {
  /* Fonts */
  --sans-serif: "Poppins", sans-serif;

  /* Colors */
  --primary: #42ac62;
  --secondary: #25613c;
  --dark: #181818;
  --dark-alt: #373737;
  --light: #ffffff;
  --light-alt: #f5f8fc;

  /* Shadow */
  --shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* Base Styles */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
*::selection {
  background: var(--dark);
  color: var(--light);
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--sans-serif);
  background: var(--dark);
  overflow-x: hidden;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
b,
i,
u,
ul,
ol,
li,
span {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  line-height: 100%;
}
a:hover {
  text-decoration: none;
}
img,
video {
  width: 100%;
}
p {
  font-size: 18px;
  font-weight: 300;
  color: var(--light-alt);
}

/* Header */
.header {
  width: 600px;
  text-align: center;
  margin: 30px auto;
}
.header h1 {
  font-size: 25px;
  font-weight: 600;
  color: var(--light);
  text-transform: capitalize;
}

/* Card */
.card {
  width: 600px;
  margin: auto;
  padding: 20px;
  background: linear-gradient(to top right, var(--primary), var(--secondary));
  border-radius: 5px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.input-group label {
  font-size: 14px;
  font-weight: 600;
  color: var(--dark);
  margin-bottom: 5px;
  display: block;
}
.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  outline: 0;
  font-size: 16px;
  font-weight: 600;
  color: var(--dark);
}

table {
  width: 600px;
  margin: 50px auto;
  text-align: right;
  border-collapse: collapse;
}
table th {
  font-size: 14px;
  font-weight: 600;
  background: var(--primary);
  color: var(--dark);
  padding: 10px;
  border: 1px solid var(--dark-alt);
}
table td {
  font-size: 14px;
  font-weight: 400;
  color: var(--light-alt);
  padding: 10px;
  border: 1px solid var(--dark-alt);
}

.error {
  text-align: center;
  margin: 50px auto;
}
