/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Variables */
:root {
  /* Fonts */
  --sans-serif: "Roboto", sans-serif;

  /* Colors */
  --dark: #040406;
  --dark-alt: #101010;
  --light: #ffffff;
  --light-alt: #919191;
}

/* Default */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-color: var(--dark) transparent;
  scrollbar-width: thin;
}
*::selection {
  background: var(--light);
  color: var(--dark);
}
::-webkit-scrollbar {
  width: 5px;
  background: var(--dark);
}
::-webkit-scrollbar-thumb {
  background: var(--light);
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--sans-serif);
  background: var(--dark);
  overflow-x: hidden;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
b,
i,
u,
ul,
ol,
li,
span {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  line-height: 100%;
  color: var(--light-alt);
}
a:hover {
  text-decoration: none;
}
img,
video {
  width: 100%;
}
p {
  font-size: 16px;
  font-weight: 300;
  color: var(--light-alt);
  line-height: 160%;
  letter-spacing: 0.5px;
}
p a {
  color: var(--light);
  transition: 0.5s ease all;
}
p a:hover {
  color: var(--light);
}
p b {
  font-weight: 600;
}

/* Background */
.bg-light {
  background: var(--light) !important;
}
.bg-light-alt {
  background: var(--light-alt) !important;
}
.bg-dark {
  background: var(--dark) !important;
}
.bg-dark-alt {
  background: var(--dark-alt) !important;
}

/* Color */
.text-light {
  color: var(--light) !important;
}
.text-light-alt {
  color: var(--light-alt) !important;
}
.text-dark {
  color: var(--dark) !important;
}
.text-dark-alt {
  color: var(--dark-alt) !important;
}
